
div {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 20%;
}

button {
  margin: 3px;
}

label {
  margin: 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.btn-holder {
  display: flex;
  flex-direction: row;
}

button {
  background-color: #0e3c7e;
  color: #fff;
  margin: 5px;
  border-radius: 5px;
  font-size:medium;
}

button:active {
  background-color: #1e60a9;
}

button:disabled {
  background-color: gray;
}

header {
  text-align: center;
  position:relative;
  width: 100%;
  box-shadow: 3px #000;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

h1.title {
  color: #0e3c7e;
}

.ad-holder {
  display: flex;
  flex-direction: row;
}

h1, h2 {
  font-family: 'Caveat', cursive;
}

div {
  margin: 10px;
}

@media screen and ( min-width: 480px) {
  .pageBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .adHolder {
    display: flex;
    flex-direction: row;
  }

  .designer {
    width: 40%;
  }

  .votes {
    width: 40%;
  }

  .poster {
    width: 30%;
    height: 20%;
  }

}