div {
    display: flex;
    flex-direction: column;
}

.choc {
    background-color: brown;
    border-radius: 5px;
    height: 5%;
}

.van {
    background-color: blanchedalmond;
    border-radius: 5px;
    height: 5%;
}

.straw {
    background-color: pink;
    border-radius: 5px;
    height: 5%;
}